<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <div style="text-align: center;">
        <h1>About me</h1>
    <p>
        I am a Tech enthusiast with excellent analytical, tactical and interactive skills that enables me detect problems, 
        proffer effective solutions and make futuristic decisions based on trends and outliers for individual and collective 
        development. Highly approachable, resilient, open to ideas and constructive criticism. Possess the ability to work under 
        pressure and deliver within a short period of time. Always willing to take up new challenges and can adapt to changes. 
        My willingness to learn new technologies and ability to effectively communicate, pay attention to details and make sound 
        decisions helps me to work comfortably with others, assist and supervise others to achieve set goals and targets.
    </p>
    </div>
</body>
</html>