<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
</head>
<body>
    <div style="text-align: center; padding-top: 30px;">
        <h1>Contact me</h1>
        <div>
            <button><a href="https://github.com/SlamChillz">github</a></button>
            <button><a href="https://replit.com/@SlamChillz">replit</a></button>
            <button><a href="https://twitter.com/@mendy_slam">twitter</a></button>
        </div>
    </div>
</body>
</html>