<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        h1, div {
            margin-bottom: 30px;
        }
    </style>
</head>
<body>
    <div style="text-align: center;">
        <h1>Welcome to Mendy's Page</h1>
        <div>Name: Mendie Uwemedimo</div>
        <div>Occupation: Software Engineer</div>
        <div>Nationality: Nigerian</div>
        <div>Company: Kodecamp</div>
        <div>Experience: 6 months</div>
    </div>
</body>
</html>